pennylane
qiskit
numpy
scipy
nest
brian2
pyNN
neuralpy
torch
tensorflow
scikit-learn
keras
sqlalchemy
h5py
dwave-ocean-sdk
simanneal
sympy
matplotlib
transformers
ollama
spacy
nltk
loguru
joblib
tensorboard
pandas
seaborn
networkx
ray[rllib]
gym
